@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

:root{
  --black : #2E3138;
  --green : #87be4b;
  --navbar-bg : white;
  --navbar-link-text-color : #000000;
  --navbar-link-text-color-hover : #87BE4B;
  --navbar-link-bg-color : #ffffff;
  --navbar-link-bg-color-hover : #fdfdfd;
  --navbar-actions-bg : #99b64f;
  --navbar-actions-text-color : #ffffff;
}

@font-face {
  font-family: 'defaultFont';
  src: url('../../public/fonts/Roboto/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'defaultFont', sans-serif !important;
}


.default-button-light {
  display: flex !important;
  background-color: rgba(255, 255, 255, 0) !important;
  color: var(--navbar-link-text-color-hover) !important;
  border: 2px solid var(--navbar-actions-bg) !important;
  border-radius: 50px !important;
  padding: 7px 15px !important;
  height: 4rem !important;
  justify-content: center;
  align-items: center;
}


.default-button-dark {
  background-color: #87BE4B !important;
  border: 1px solid var(--navbar-actions-bg) !important;
  margin: 0 25px;
  padding: 7px 15px !important;
  border-radius: 50px !important;
  color: white !important;
  display: flex !important;
  height: 4rem !important;
  justify-content: center;
}




.default-button-light:hover {
  background-color: rgb(240, 251, 255) !important;
  border: 1px solid var(--navbar-actions-bg) !important;

}


.default-button-dark:hover {
  background-color: #87BE4B !important;
  color: white !important;
}


.ant-checkbox-inner{
 
  height: 22px !important;
  width: 22px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-checkbox-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-checkbox-checked .ant-checkbox-inner{
  background-color:var(--green) !important;
  border-color: var(--green) !important;
 
}


.ant-checkbox-checked .ant-checkbox-inner:hover{
  background-color:var(--green) !important;
  border-color: var(--green) !important;
}
.ant-checkbox-inner:after{
  inset-inline-start: 33.5% !important;
}

.ant-input-affix-wrapper-status-error:not(.ant-input-affix-wrapper-disabled):not(.ant-input-affix-wrapper-borderless).ant-input-affix-wrapper{
  border-color: red !important;
}


.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 47px;
  padding: 0 11px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 13.5rem;
}
.ant-picker .ant-picker-input {
  font-size: 1.2rem !important;
  cursor: pointer !important;
  color: var(--black) !important;
}

.ant-picker-dropdown .ant-picker-today-btn {
  color: var(--green);
  text-decoration: none !important;
}

.ant-space-item{
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.unhoverableElement {
  pointer-events: none !important;
}

.modalError .ant-btn-primary,
.modalSuccess .ant-btn-primary{
  background-color: #2E3138 !important;
    border-color: #2E3138 !important;
}



.antdLoginRegisterModal .ant-btn {
  background-color: #2E3138 !important;
  border-color: #2E3138 !important;
}

.ant-form-item-control-input-content {
    display: flex !important;
    justify-content: center;
    align-items: center;
  width: 100%;
}


.landing-page-btn {
  background-color: var(--navbar-actions-bg) !important;
  border: 1px solid var(--navbar-actions-bg) !important;
  margin: 0 25px;
  padding: 10px 20px !important;
  border-radius: 50px !important;
  color: #ffffff !important;
  display: flex !important;
  height: 3rem !important;
  justify-content: center;
  font-size: 1.2rem !important;
}



.landing-page-btn:hover {
  opacity: 0.8;
}