.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 !important;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.fullWidthElement {
  width: 100% !important;
}

