.topSection {
  margin-top: -7%;
}

.topSectionLeftSide {
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column !important;
  padding: 2rem 5rem !important;
  padding-bottom: 0 !important;
  min-height: 40rem !important;
  position: relative;
  width: 100vw !important;
  color: white !important;

}

.topSectionLeftSide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  object-position: center;
  filter: brightness(0.45); /* Ajuste la transparence pour mieux faire ressortir le texte */
  background-color: rgba(144, 238, 144, 0.4); /* Vert pâle avec opacité */
}

.topSectionRightSide {

}
.topSectionRightSide img {
  width: 50vw;
  height: 30rem;
}

.topSectionTextDiv {
  text-align: center;
  margin-top: 5rem;
  padding: 0 15rem;
}

@media (max-width: 768px) {
  .topSectionTextDiv {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .topSectionLeftSide {
    padding: 2rem 2rem !important;
  }
  .topSectionRightSide img {
    width: 100%;
    height: 20rem;
  }
  .topSectionTextDiv {
    margin-top: 2rem;
    max-width: 95%;
  }
}



.topSectionTextDiv h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #f4f1ea; /* Couleur beige clair */
  animation: fadeIn 1.5s ease-in-out;
}

@media (max-width: 768px) {
  .topSectionTextDiv h1 {
    font-size: 1.8rem;
  }
}

.topSectionTextDiv h1 span {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--green);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Ombre pour contraste */
}

@media (max-width: 768px) {
  .topSectionTextDiv h1 span {
    font-size: 2rem;
  }
}

.topSectionBtnsDiv {
  display: flex;
  width: 100%;
  justify-content :center;

}

.playBtn {
  align-items: center;
  min-width: 13rem;
  font-size: 1rem;
  font-weight: 500;
  animation: glowShadow 1s infinite;
  background-color: var(--green);
  color: #f4f1ea; /* texte beige clair */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* légère ombre portée */
}

@media (max-width: 768px) {
  .playBtn {
    font-size: 0.8rem !important;
  }
}

.partnerBtn {
  align-items: center;
  min-width: 13rem;
  font-size: 1rem;
  font-weight: 500;
  animation: blinking 1.5s infinite;
  background-color: var(--green);
  color: #f4f1ea; /* texte beige clair */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* légère ombre portée */
}
.playBtn:hover, .partnerBtn:hover {
  background-color: #4a4a4a; /* gris foncé pour un effet de survol */
  transform: translateY(-2px); /* effet de survol en surélevant légèrement */
}

@keyframes blinkingVisibility {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    color: black;
    background-color: var(--navbar-actions-bg);
  }
  50% {
    color: #ff0000;
    background-color: #fff;
  }
  100% {
    color: #fff;
    background-color: var(--navbar-actions-bg);
  }
}

@keyframes glowShadow {
  0% {
    box-shadow: 0 0 5px whitesmoke;
  }
  50% {
    box-shadow: 0 0 5px 1px #d2d1d1;
  }
  100% {
    box-shadow: 0 0 5px whitesmoke;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.decorativeIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: cover;
  opacity: 0.8;
  animation: float 4s infinite ease-in-out;
}

.teaLeafIcon {
  background-image: url('/images/tea-bag_1691154.png'); /*  le chemin réel */
  top: 10%;
  left: 5%;
}

.teaCupIcon {
  background-image: url('/images/drink_16212697.png'); /*  le chemin réel */
  top: 15%;
  right: 10%;
}
.teaLIcon {
  background-image: url('/images/tea_1531349.png'); /*  le chemin réel */
  bottom: 10%;
  left: 5%;
}
.teaCIcon {
  background-image: url('/images/leaves_2729270.png'); /*  le chemin réel */
  bottom: 15%;
  right: 10%;
}
/* Animation flottante */
@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}